@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    background-color: yellow;
    font-family: 'VT323';
    text-align: center;
    font-size: 30px;
}

#start {
    animation:peak 2s ease infinite;
}

.disabled {
    display:none;
}

.active {
    display: block;
}

@keyframes peak {
    0% { opacity:0; }
    30% { opacity:1; }
    70% { opacity:1; }
    100% { opacity:0; }
}